//output:../index_02.html
//{
    title:"Test jade compass build",
    link:"Link"
  }
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=title
    link(rel="stylesheet", href="stylesheets/screen.css")
  body
    #mainWrapperX_newX999
      .offerUnit_Wrapper
        .offerUnit#liveOffer_01
          .offerUnit_offerWrap
            a.offerUnit_href(href="")
              .offerUnit_imgWrap_sdPlusInc_rel
                .offerUnit_sdPlusWrap_abs
                img.offerUnit_img(src="https://n1.sdlcdn.com/imgs/b/d/6/166x194/Zoook-Rocker-Mini-Sound-Machine-SDL448312397-1-c1092.jpg", alt="")
              .offerUnit_discountWrap
                .offerUnit_discount 20% Off
              .offerUnit_title Speaker X999
              .offerUnit_ratingWrap
                .offerUnit_rating_rel
          .timerX99_UnitWrap_rel
            .absWrapX
              .timerX99_label Ends in:
              .timerX99_Wrapper#CountDwnX99_01
                span.timerX_valueX.dayV_timerX
                span.timerX_labelX.dayL_timerX days
                span.timerX_valueX.hrV_timerX
                span.timerX_labelX.hrL_timerX :
                span.timerX_valueX.minV_timerX
                span.timerX_labelX.minL_timerX :
                span.timerX_valueX.secV_timerX
                span.timerX_labelX.secL_timerX 
        
                
                
              
              
            
          
      
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")       
  script(src="js/bundle.js")
  script(src="js/TimerX99.js")
  //script(src="js/bundle_min.js")            
            
