//output:../subscribeForm.html
//{
    title:"Test jade compass build",
    link:"Link"
  }
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title=title
    link(rel="stylesheet", href="stylesheets/screen.css")
  body
    #mainWrapperX_newX999.inHouseDevs_pageWrapper
      .sectionX.subscribeFormContainer
        #subscribeFormDOD
          .sF_header
            h2 
              | Get 
              span.dailyAlertCol daily alerts 
              | for deals of the day!
                
            
