
.paddingWrapX99 {
  box-sizing: border-box;
  padding: 2%;
}

.inactive {
  display: inline-block;
  cursor: default;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: transparent!important;
  @include transition(all 5s linear);
  opacity: 0.5;

  &:hover {
    border: 0;
  }

  a {
    color: transparent!important;
  }
  //image normal
  .offerUnit_imgWrap_sdPlusInc_rel img.b-lazy {
      opacity: 1 !important;
      width: 130px;
      height: 152px;
      background-size: 50%;

      @include breakpoint(1024px){
        width: 166px;
        height: 194px;
      }
  }

  //discount_dom
  .offerUnit_discountWrap {
    margin-bottom: 0.3em !important;
    display: none;
  }

  .offerUnit_discount {
    background: $loadercol;
    color: transparent;
    border: 0;
    display: none;
  }

  //title && rating && price & tagline
  .offerUnit_title, .offerUnit_ratingWrap, .offerUnit_priceTaglineWrap_rel, span.offerUnit_priceWrapAll {
    background: $loadercol;
    color: transparent;
    height: 16px !important;
    padding: 0;
    //margin-bottom: 0.6em;
    float: left;
    margin: 0.3em 0 !important;
  }

  .offerUnit_ratingWrap {
    //margin-top: 0.1em;
  }

  .offerUnit_rating_rel, .numberRevsX, span.offerUnit_displayPrice {
    opacity: 0;
  }

  .offerUnit_priceWrap {
    display: none;
  }

  &.dodSuperDeal_unit  {
    max-width: 100%;
  }

}

li.inactive  {
  max-width: 260px;
}

li.inactive.fadeOutx99  {
  opacity: 0;
  @include transform(translateX(15px));
}
